.App {
  text-align: center;
  background-color: #FAF9F6;
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
} 

.searchbar, .btns {
  padding: 5px;
}

#searchIp{
  width: 50vw;
  font-size: 1.1rem;
}

.btns{
  display: flex;
  column-gap: 6px;
  justify-content: center;
}

.notes_head{
  font-size: 25px;
  font-weight: 600;
}

.notes_msg{
  font-size: 20px;
  font-weight: 500;
}

.btn{
  background-color: black;
  color: white;
  font-weight: 550;
  padding: 7px;
  margin: 3px;
  border-radius: 3.5px;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
